:root {
  --padding: 4px;
};

.cube .default-state,
.cube .mnv-ec-share-icons {
  padding: var(--padding);
  box-sizing: border-box;
}
.cube .default-state {
  background: var(--ShareBar-cube-background-default-status);
}
.cube .mnv-ec-share-icons {
  background: var(--ShareBar-cube-background-icon-bar);
  padding-left: 20px;
  padding-right: 20px;
}
.cube {
  transition: all 200ms ease;
  transform-style: preserve-3d;
  height: calc(var(--icon-size)+(var(--padding)*2));
}
.cube svg {
  margin: var(--padding);
}
.default-state {
  transform: translateZ(calc(var(--icon-size)/2+var(--padding)));
}
.flip-to-top .mnv-ec-share-icons {
  transform: rotateX(90deg) translateZ(calc(var(--icon-size)*1.5+var(--padding)));
}
.flip-to-bottom .mnv-ec-share-icons {
  transform: rotateX(-90deg) translateZ(-calc(var(--icon-size)/2+var(--padding)));
}

@media all and (max-width: 800px){
  .mnv-ec-share.cube {
    height: calc(var(--icon-size-tablet)+calc(var(--padding)*2));
  }
  .default-state {
    transform: translateZ(calc(var(--icon-size-tablet)/2+var(--padding)));
  }
  .flip-to-top .mnv-ec-share-icons {
    transform: rotateX(90deg) translateZ(calc(var(--icon-size-tablet)*1.5+var(--padding)));
  }
  .flip-to-bottom .mnv-ec-share-icons {
    transform: rotateX(-90deg) translateZ(-calc(var(--icon-size-tablet)/2+var(--padding)));
  }
}
@media all and (max-width: 568px){
  .mnv-ec-share.cube {
    height: calc(var(--icon-size-mobile)+(var(--padding)*2));
  }
  .default-state {
    transform: translateZ(calc(var(--icon-size-mobile)/2+var(--padding)));
  }
  .flip-to-top .mnv-ec-share-icons {
    transform: rotateX(90deg) translateZ(calc(var(--icon-size-mobile)*1.5+var(--padding)));
  }
  .flip-to-bottom .mnv-ec-share-icons {
    transform: rotateX(-90deg) translateZ(-calc(var(--icon-size-mobile)/2+var(--padding)));
  }
}

.no-touch .cube.flip-to-top:hover,
.touch .cube.fxOn.flip-to-top {
  transform: rotateX(-89deg);
}
.no-touch .cube.flip-to-bottom:hover,
.touch .cube.fxOn.flip-to-bottom {
  transform: rotateX(89deg);
}
