:root{
  --spacing: 10px;
  --icon-size: 38px;
  --icon-size-tablet: 30px;
  --icon-size-mobile: 24px;
};

.mnv-ec-share h3 {
  color:#fff;
  font:18px Officina, sans-serif;
  margin:0;
  text-transform:uppercase;
  -webkit-font-smoothing: antialiased;
}
.mnv-ec-share a {
  border: none;
}
.mnv-ec-share a {
  margin:0 10px 0 0;
  width: var(--icon-size);
  height: var(--icon-size);
}

@import './svg.css';
@import './img.css';