:root{
  --spacing: 10px;
  --icon-size: 38px;
  --icon-size-tablet: 30px;
  --icon-size-mobile: 24px;
};

.mnv-ec-share h3 {
  color:#fff;
  font:18px Officina, sans-serif;
  margin:0;
  text-transform:uppercase;
  -webkit-font-smoothing: antialiased;
}
.mnv-ec-share a {
  border: none;
  margin:0 10px 0 0;
  fill: #929ca2;
}

.mnv-ec-share svg {
  width: var(--icon-size);
  height: var(--icon-size);
}

.mnv-ec-share a svg {
  pointer-events: none;
}
.mnv-ec-share a svg path {
  pointer-events: none;
}
.mnv-ec-share .default-state,
.mnv-ec-share .mnv-ec-share-icons {
  height: inherit;
}

@media all and (max-width: 800px){
  .mnv-ec-share a {
    margin:0 10px 0 0;
  }
  .mnv-ec-share svg {
    width: var(--icon-size-tablet);
    height: var(--icon-size-tablet);
  }
}
@media all and (max-width: 568px){
  .mnv-ec-share a {
    margin:0 10px 0 0;
    border-radius: calc(var(--icon-size-mobile)/2);
  }
  .mnv-ec-share svg {
    width: var(--icon-size-mobile);
    height: var(--icon-size-mobile);
  }
}
.mnv-ec-share.horizontal a {
  display: inline-block;
  margin-right: var(--spacing);
}
.mnv-ec-share a svg {
  background: #929ca2 !important;
}
.mnv-ec-share.vertical a {
  display: block;
  margin-bottom: var(--spacing);
}
.mnv-ec-share a.fb:hover svg {
  background: #3b5998 !important;
}
.mnv-ec-share a.twitter:hover svg {
  background: #00aced !important;
}
.mnv-ec-share a.linkedin:hover svg {
  background: #007bb6 !important;
}
.mnv-ec-share a.gplus:hover svg {
  background: #dd4b39 !important;
}
.mnv-ec-share a.whatsapp:hover svg {
  background: #39b54a !important;
}
.mnv-ec-share a.mail:hover svg {
  background: #666666 !important;
}
.mnv-ec-share a.fb:hover svg {
  background: #3b5998 !important;
}
.mnv-ec-share.no-mobile a.whatsapp {
  display: none !important;
}
