.mnv-ec-share.use-svg a {
  fill: #929ca2;
  width: var(--icon-size);
  height: var(--icon-size);
}
.mnv-ec-share.use-svg a svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.mnv-ec-share.use-svg a svg path {
  pointer-events: none;
}
.mnv-ec-share img {
  border: none;
}

@media all and (max-width: 800px){
  .mnv-ec-share.use-svg a {
    margin:0 10px 0 0;
  }
  .mnv-ec-share.use-svg a {
    width: var(--icon-size-tablet);
    height: var(--icon-size-tablet);
  }
}
@media all and (max-width: 568px){
  .mnv-ec-share.use-svg a {
    margin:0 10px 0 0;
    border-radius: calc(var(--icon-size-mobile)/2);
  }
  .mnv-ec-share.use-svg a {
    width: var(--icon-size-mobile);
    height: var(--icon-size-mobile);
  }
}

.mnv-ec-share.use-svg.horizontal a {
  display: inline-block;
  margin-right: var(--spacing);
}

.mnv-ec-share.use-svg.vertical a {
  display: block;
  margin-bottom: var(--spacing);
}
.mnv-ec-share.use-svg a.fb:hover svg {
  background: #3b5998 !important;
}
.mnv-ec-share.use-svg a.twitter:hover svg {
  background: #00aced !important;
}
.mnv-ec-share.use-svg a.linkedin:hover svg {
  background: #007bb6 !important;
}
.mnv-ec-share.use-svg a.gplus:hover svg {
  background: #dd4b39 !important;
}
.mnv-ec-share.use-svg a.whatsapp:hover svg {
  background: #39b54a !important;
}
.mnv-ec-share.use-svg a.mail:hover svg {
  background: #666666 !important;
}
.mnv-ec-share.use-svg a.fb:hover svg {
  background: #3b5998 !important;
}
@media all and (max-width: 800px){
  .mnv-ec-share.use-svg a.fb svg {
    background: #3b5998 !important;
  }
  .mnv-ec-share.use-svg a.twitter svg {
    background: #00aced !important;
  }
  .mnv-ec-share.use-svg a.linkedin svg {
    background: #007bb6 !important;
  }
  .mnv-ec-share.use-svg a.gplus svg {
    background: #dd4b39 !important;
  }
  .mnv-ec-share.use-svg a.whatsapp svg {
    background: #39b54a !important;
  }
  .mnv-ec-share.use-svg a.mail svg {
    background: #666666 !important;
  }
}
@media all and (min-width: 800px){
  .mnv-ec-share.use-svg a svg {
    background: #929ca2 !important;
  }
}
.mnv-ec-share.no-mobile a.whatsapp {
  display: none !important;
}
